<!--# О модуле. #-->
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
            <h4 class="modal-title">Yandex Home</h4>
         </div>
         <div class="modal-body" style="padding-bottom: 1px;">
            <div class="float-right">
               <img src="../img/modules/yandexhome.png"  width="48" height="48">
               <br><br><p><b>v.0.7b</b><br>17.09.19</p>
            </div>
            <p class="float-left">
               Модуль поддержки <b>личных</b> (приватных) навыков для платформы умного дома <b>Яндекс</b>.<br><br>
               Документация в <a href="https://kb.mjdm.ru/yandexhome_help/" target="_blank">Базе знаний</a>.<br>
               Обсуждение модуля на <a href="https://mjdm.ru/forum/viewtopic.php?f=5&t=6498" target="_blank">форуме</a>.<br>
               Проект в <a href="https://github.com/skysilver-lab/majordomo-yandexhome" target="_blank">Github</a>.<br>
               Проект в <a href="https://connect.smartliving.ru/tasks/482.html" target="_blank">Connect</a>.<br>
            </p>
            <hr size="1">
            <p class="float-left">
               Поддержать разработку и развитие модуля:
               <ul>
                  <li>Yandex: <a href="https://money.yandex.ru/to/410011205062626" target="_blank">410011205062626</a></li>
                  <li>PayPal: <a href="https://www.paypal.me/skysilver" target="_blank">paypal.me/skysilver</a></li>
                  <li>Внутренний счет в <a href="https://connect.smartliving.ru/tasks/482.html" target="_blank">Connect</a></li>
               </ul>
            </p>
            <h6>
               Благодарности: <b>Vit</b>, <b>iden</b>, <b>Xor</b>, <b>ImHuman</b>, <b>AntPino</b>, <b>tarasfrompir</b>, <b>Sergey.Chek</b>, <b>webms</b>, <b>Anton_kulibin</b>, <b>TurburatoR</b>, <b>denis_1988_06</b>, <b>louso</b>, <b>Yden_nn</b>, <b>C_3AXAPOB</b>, <b>AlexAl77</b>, <b>cheetah</b>, <b>ahelper</b>, <b>dubler78</b>, <b>VlasVic</b>, <b>sbazhukov</b>, <b>Degu</b>, <b>saturn017</b>.
            </h6>
         </div>
         <div class="modal-footer" style="margin-top: 1px;">
            <div class="pull-left">Автор: <a href="https://telegram.me/agafonov_d" target="_blank">skysilver</a></div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
         </div>
      </div>
   </div>
</div>
